<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Capstone 4 - Public API</title>
  </head>
  <body>
    <main>
      <%- include("partials/header.ejs")%>
      <div class="body"><%- body %></div>
    </main>
    <%- include("partials/footer.ejs")%>
    
  </body>
</html>
